.header{
    text-align: center;
    position: relative;
    top: 70px;
    color: brown;
}
.first-page{
    background-color: burlywood;
}
.home{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.spinner h3 {
    position: relative;
    top: 80px;
    text-align: center;
    color: brown;
    font-size: 40px;
}